body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

h1, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

h2{
/* links at the top*/
	color: #222;
	background-color: gold;
	border: solid;
	border-bottom: none;
	margin-right:10px;
	display:inline-block;


}
